body {
  position: absolute;
  top: 20px;
  left: 80px;
}

table{
  border-top: solid 1px #DCDCDC; 
  border-bottom: solid 1px #DCDCDC;
}

table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: left;
  border-right: solid 1px #DCDCDC; 
  border-left: solid 1px #DCDCDC;
}
   
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
  background-color: #fff;
}
